.zzang {
    display: inline-block;    /* 글자 크기만큼만 배경색이 칠해지도록 변경 */
    color: white;
    background-color: #ff5252; /* 빨간색을 배경으로 사용 */
    
    padding: 10px 30px;       /* 좌우를 더 길게 주어 버튼 모양으로 */
    margin: 15px;
    
    border: 4px solid yellow; /* 노란색을 테두리로 활용 */
    border-radius: 50px;      /* 완전히 둥근 모서리 */
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1); /* 은은한 그림자 */
}